<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/assets/css/base.css">
    <link rel="stylesheet" href="/assets/css/grid.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/responsive.css">
    <link rel="stylesheet" href="/assets/font/fontawesome-free-5.15.3-web/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Estonia&family=Kaushan+Script&family=Marck+Script&family=Nothing+You+Could+Do&family=Patrick+Hand&family=Roboto&family=Satisfy&family=Sawarabi+Gothic&family=Tangerine:wght@700&display=swap" rel="stylesheet">
</head>

<body>
    <div id="app">
        <header th:replace="~{user/fragments/header::header}"></header>

        <div class="about-us">
            <div class="about-us__header-wrapper">
                <div class="about-us__header">About Us</div>
            </div>
            <div class="about-us__info-wrapper">
                <div class="about-us__info">
                    <a href="https://www.facebook.com/profile.php?id=100058632992547"><div class="about-us__info-img"></div></a>
                    <div class="about-us__info-content">
                        <span class="about-us__info-name">Name: <span>Dao Thi Thu Thao</span></span>
                        <span class="about-us__info-date">Date: <span>28.12.2000</span></span>
                        <span class="about-us__info-description">Description: <span>We have created a fictional band website. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span></span>
                    </div>
                </div>

                <div class="about-us__info info--background-dark">
                    <a href="https://www.facebook.com/yangheenlw/"><div class="about-us__info-img"></div></a>
                    <div class="about-us__info-content white">
                        <span class="about-us__info-name">Name: <span>Nguyen Huu Kha</span></span>
                        <span class="about-us__info-date">Date: <span>16.12.2001</span></span>
                        <span class="about-us__info-description">Description: <span>We have created a fictional band website. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span></span>
                    </div>
                </div>

                <div class="about-us__info">
                    <a href="https://www.facebook.com/1597532846m"><div class="about-us__info-img"></div></a>
                    <div class="about-us__info-content">
                        <span class="about-us__info-name">Name: <span>Trieu Hue Man</span></span>
                        <span class="about-us__info-date">Date: <span>25.01.2001</span></span>
                        <span class="about-us__info-description">Description: <span>We have created a fictional band website. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span></span>
                    </div>
                </div>
            </div>
        </div>
        <!--Footer: begin-->
        <div class="footer" th:replace="~{user/fragments/footer::footer}">
        </div>
        <!--Footer: end-->
        <!--Search mobile-->
        <div class="search-mobile">
            <div class="search-mobile__input">
                <input class="search-mobile__input-text" placeholder="Search..." >
                <i class="icon-search fas fa-search"></i>
            </div>

            <a href="cart.html" class="cart-link">
                <i class="fa fa-cart-plus"></i>
            </a>
            <a class="login-link " style="padding-right: 10px">
                <i class="fa fa-user"></i>
            </a>
        </div>
    </div>
    <!--    modal-->
    <div th:replace="~{user/fragments/modal::modal}">
    </div>
    <script src="/assets/js/showHide.js"></script>
    <script></script>
</body>
</html>