<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/assets/css/grid.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/responsive.css">
    <link href="https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Estonia&family=Kaushan+Script&family=Marck+Script&family=Nothing+You+Could+Do&family=Patrick+Hand&family=Roboto&family=Satisfy&family=Sawarabi+Gothic&family=Tangerine:wght@700&display=swap" rel="stylesheet">
</head>

<body>
<div id="app">
    <header th:replace="~{user/fragments/header::header}"></header>

   <h1 style="font-size: 133px" >Daay la trang home cua user, xin chao
       <h1 style="font-size: 133px" th:text="${user}"></h1>
   </h1>

    <div class="footer" th:replace="~{user/fragments/footer::footer}">
    </div>
</div>
<!--    modal-->
<script src="/assets/js/showHide.js"></script>
<script></script>
</body>
</html>