<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<!--Footer: begin-->
<div class="footer" th:fragment="footer">
  <div class="grid wide">
    <div class="row footer-content">
      <div class="col l-4 m-12 c-12">
        <ul class="footer__contact">
          <li class="footer__contact--title">
            CONTACT
          </li>
          <a class="footer__contact-link" href="">
            <li class="footer__contact-address">
              Address: Ho Chi Minh City
            </li>
          </a>
          <a class="footer__contact-link" href="">
            <li class="footer__contact-email">
              Email: @gmail.com
            </li>
          </a>
          <a class="footer__contact-link" href="">
            <li class="footer__contact-phone">
              Phone: +0363275624
            </li>
          </a>
          <img class="footer__contact-img" src="assets/img/footer-tab-1.png" alt="">

        </ul>
      </div>
      <div class="col l-4 m-12 c-12">
        <ul class="footer__follow">
          <li class="footer__contact--title">
            COSMETICS
          </li>
          <p class="footer__follow-text">
            An oasis of online beauty built
            <br>
            specifically so your new cosmetics
            <br>
            site can take everyone’s breaths away.
          </p>
          <div class="footer__follow-icon">
            <a href="" class="footer__follow-icon-link">
              <i class="fab fa-internet-explorer"></i>
            </a>
            <a href="" class="footer__follow-icon-link">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="footer__follow-icon-link">
              <i class="fab fa-facebook-square"></i>
            </a>
            <a href="" class="footer__follow-icon-link">
              <i class="fab fa-pinterest-square"></i>
            </a>

          </div>
        </ul>
      </div>
      <div class="col l-4 m-12 c-12">
        <ul class="footer__follow">
          <li class="footer__contact--title">
            COLLECTIONS
          </li>
          <p class="footer__follow-text">
            Glowing skin is a result
            <br>
            ABCDEH Beauty – Forever Young
            <br>
            Pure Skin Solutions
          </p>
        </ul>
      </div>

    </div>

  </div>
  <div class="footer--bottom">
    <p class="footer-bottom__text">Copyright © Group 1 Nong Lam University</p>
  </div>


</div>
<!--Footer: end-->
</body>
</html>