<!doctype html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
 <head>

 </head>
 <body>
  <div id="app">
   <!--Header: begin-->
   <header class="header" th:fragment="header">
    <div class="grid wide ">
     <div class="row navbar">
      <div class="col-1">
       <a href="index.html" style="text-decoration: none">
        <h1 class="logo" about="">Cosmetics</h1></a>
      </div>
      <div class="col-9">
       <ul class="navbar__list">
        <li class="navbar__item"><a href="./index.html" class="navbar__item-link"> HOME </a></li>
        <li class="navbar__item"><a class="navbar__item-link" href="./products.html"> PRODUCTS </a></li>
        <li class="navbar__item"><a class="navbar__item-link" href="./about.html"> ABOUT US </a></li>
        <li class="navbar__item"><a class="navbar__item-link" href="./contact.html"> CONTACT US </a></li>
       </ul>
      </div>
      <div class="header-icon col-2">
       <a class="search-link"> <i class="fas fa-search"></i> </a> <a href="./cart.html" class="cart-link"> <span class="cart-link-notice">3</span> <i class="fa fa-cart-plus"></i> </a> <a class="login-link"> <i class="fa fa-user"></i> </a>
      </div>
      <div class="nav-icon col l-0 m-0 c-6">
       <label for="nav-mobile__label"> <i class="nav-link fas fa-bars"></i> </label> <input type="checkbox" hidden id="nav-mobile__label" class="navbar__check">
       <div class="nav-mobile">
        <label for="nav-mobile__label"> <i class="icon-exit far fa-times-circle"></i> </label>
        <ul class="nav-mobile__list">
         <a href="./index.html" class="nav-mobile__link">
          <li class="nav-mobile__item"><p>Home</p></li></a> <a href="./products.html" class="nav-mobile__link">
          <li class="nav-mobile__item"><p>Products</p></li></a> <a href="./about.html" class="nav-mobile__link">
          <li class="nav-mobile__item"><p>About Us</p></li></a> <a href="./contact.html" class="nav-mobile__link">
          <li class="nav-mobile__item"><p>Contact Us</p></li></a>
        </ul>
       </div>
      </div>
     </div>
    </div>
   </header><!--Header: end-->
  </div>
 </body>
</html>